<!doctype html>
<html class="no-js">
<head>
<style type="text/css">
    .am-table th,td{text-align: center;vertical-align:middle !important;}
</style>
{include file="public/head" /}

</head>
<body>

{include file="public/header" /}

<div class="am-cf admin-main">

{include file="public/sidebar" nav="shop"/}
<div class="admin-content">
    <div class="admin-content-body">

<div class="am-cf am-padding am-padding-bottom-0">
            
                <div class="am-g">
                    <div class="am-u-sm-2">
                        <strong class="am-text-primary am-text-lg">积分商城管理</strong> / <small>大转盘管理</small>
                    </div>
                    <div class="am-u-sm-9">
                    </div>
                    <div class="am-u-sm-1">
                        <a  href="{:url('Prize/AddPrize')}" class="am-btn am-btn-secondary am-round">新添奖品</a>
                    </div>
                </div>      
</div>
        
        

        <hr>



        <div class="am-scrollable-horizontal">
        
            <table class="am-table">
                <thead>
                    <tr>
                        <th>奖品名称</th>
                        <th>奖品图片</th>
                        <th>奖品库存</th>
                        <th>中奖概率</th>
                        <th>操作</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {volist name="data" id="vo"}
                        <tr <?php if($i%2 == 1){echo "class='am-active'";}?> >
                            
                            <td>{$vo.name}</td>
                            <td><img src="__ROOT__/uploads/prize/{$vo.picture}" alt="" style="height:100px;"></td>
                            <td>{$vo.stock}</td>
                            <td>{$vo.probability}%</td>
                            <td>
                                <div class="am-btn-group">
                                  <button class="am-btn am-btn-secondary">设置</button>
                                  <div class="am-dropdown" data-am-dropdown>
                                    <button class="am-btn am-btn-secondary am-dropdown-toggle" data-am-dropdown-toggle> <span class="am-icon-caret-down"></span></button>
                                    <ul class="am-dropdown-content">
                                      <li><a href="{:url('Prize/AlterPrize')}?id={$vo.id}">修改</a></li>
                                      <li><a href="javascript:;" onclick="InquiresDel({$vo.id});">删除</a></li>
                                    </ul>
                                  </div>
                                </div>
                            </td>
                        </tr>
                    {/volist}
                </tbody>  
            </table>
            
        <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    
</div>




{include file="public/footer" /}
</body>
<script>
    $('.status').on('click',function(){
        var id = $(this).attr('data-id');
        var status = $(this).attr('data-status');
        var that = $(this);
        $.ajax({
            type:'POST',
            url:"{:url('Shop/GoodsStatusAlter')}",
            data : {
                id:id,
                status:status
            },
            success:function(data){
                if(data == 1){
                    that.parent().children().removeClass('am-active');
                    that.addClass('am-active');
                }else if(data == -1){
                    alert('更新失败');
                }else{
                    alert('网络出错，请稍后再试');
                }
            }
        });
    });
    function InquiresDel(id){
        if(confirm("请再次确认是否删除此奖品")){
            location.href="{:url('Prize/DelPrize')}?id="+id;
        }
    }
</script>
</html>