<!doctype html>
<html class="no-js">
<head>
<style type="text/css">
    .am-table th,td{text-align: center;vertical-align:middle !important;}
</style>
{include file="public/head" /}

</head>
<body>

{include file="public/header" /}

<div class="am-cf admin-main">

{include file="public/sidebar" nav="shop"/}
<div class="admin-content">
    <div class="admin-content-body">

<div class="am-cf am-padding am-padding-bottom-0">
            
                <div class="am-g">
                    <div class="am-u-sm-2">
                        <strong class="am-text-primary am-text-lg">大转盘管理</strong> / <small>中奖记录</small>
                    </div>
                    <div class="am-u-sm-9">
                        <form action="{:url('Prize/AdminPumpingRecord')}" class="am-form">
                            <div class="am-input-group">
                              <span class="am-input-group-btn">
                                <button class="am-btn am-btn-default" type="submit"><span class="am-icon-search"></span> </button>
                              </span>
                              <input type="text" name="keyword" value="{$keyword}" class="am-form-field" placeholder="请输入用户微信昵称">
                            </div>
                        </form>
                    </div>
                    <div class="am-u-sm-1">
                       
                    </div>
                </div>      
</div>
        
        

        <hr>



        <div class="am-scrollable-horizontal">
        
            <table class="am-table">
                <thead>
                    <tr>
                        <th>奖品名称</th>
                        <th>奖品图片</th>
                        <th>中奖时间</th>
                        <th>用户微信昵称</th>
                        <th>状态</th>
                        <th>操作</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {volist name="data" id="vo"}
                        <tr <?php if($i%2 == 1){echo "class='am-active'";}?> >
                            
                            <td>{$vo.name}</td>
                            <td><img src="__ROOT__/uploads/prize/{$vo.picture}" alt="" style="height:100px;"></td>
                            <td>{$vo.create_time}</td>
                            <td>{$vo.nickname}</td>
                            <td>
                                {if condition="$vo.status == 1"}
                                    已兑奖
                                {else /}
                                    未兑奖
                                {/if}
                            </td>
                            <td>
                                {if condition="$vo.status == 0"}
                                    <button type="button" onclick="InquiresAlter({$vo.id})" class="am-btn am-btn-secondary am-round">已兑奖</button>
                                {/if}
                            </td>
                        </tr>
                    {/volist}
                </tbody>  
            </table>
            <center>{$page}</center>
        <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    
</div>




{include file="public/footer" /}
</body>
<script>
    function InquiresAlter(id){
        if(confirm("请再次确认是否改为已兑奖")){
            location.href="{:url('Prize/RecordStatusAlter')}?id="+id;
        }
    }
</script>
</html>