<!doctype html>
<html class="no-js">
<head>
<style type="text/css">
    .am-table th,td{text-align: center;}
</style>
{include file="public/head" /}

</head>
<body>

{include file="public/header" /}

<div class="am-cf admin-main">

{include file="public/sidebar" nav="show"/}
<div class="admin-content">
    <div class="admin-content-body">

<div class="am-cf am-padding am-padding-bottom-0">
            
    <div class="am-g">
        <div class="am-u-sm-7">
            <strong class="am-text-primary am-text-lg">店铺展示</strong> / <small>修改分类名称</small>
        </div>
        <div class="am-u-sm-4">
            
        </div>
        <div class="am-u-sm-1">
           
        </div>
    </div>
</div>
<hr>

<div class="am-panel am-panel-primary">
  <div class="am-panel-hd">分类信息</div>
  <div class="am-panel-bd">
    <form class="am-form" method="post" action="{:url('Show/AlterClassify')}">
    <input type="hidden" name="id" value="{$id}">
        <fieldset>

            <div class="am-form-group">
              <label for="doc-ipt-name-1">分类名称</label>
              <input type="text" class="" id="doc-ipt-name-1" name="classify_name" placeholder="请输入分类名称" value="{$data.classify_name}" required />
            </div>

        </fieldset>
    
  </div>
</div>
<center><button type="submit" class="am-btn am-btn-secondary am-round" style="width:10%;">修改</button></center>
</form>

        


        
    </div>
    
</div>




{include file="public/footer" /}
</body>

</html>