<!doctype html>
<html class="no-js">
<head>

<include file="Common/head" />

</head>
<body>

<include file="Common/header" />

<div class="am-cf admin-main">

    <!-- sidebar start -->
    <include file="Common/sidebar" nav="index"/>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">重置密码</strong><!--  / <small>form</small> --></div>
            </div>
            <hr>
            <form class="am-form" method="post">
                <input type="hidden" name="id" value="{$id}">
                <div class="am-g am-margin-top-sm">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        当前账号
                    </div>
                    <div class="am-u-sm-8 am-u-md-4 am-u-end">
                        <input type="text" class="am-input-sm" value="{$username}" disabled="disabled">
                    </div>
                </div>
                <div class="am-g am-margin-top-sm">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        新密码
                    </div>
                    <div class="am-u-sm-8 am-u-md-4 am-u-end">
                        <input type="text" class="am-input-sm" name="password">
                    </div>
                </div>
                <div class="am-g am-margin-top-sm">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        &nbsp;
                    </div>
                    <div class="am-u-sm-8 am-u-md-4 am-u-end">
                        <input type="submit" class="am-btn am-btn-primary am-btn-xs" value="确认">
                        <input type="reset" class="am-btn am-btn-info am-btn-xs" value="重置">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- content end -->
</div>

<include file="Common/footer" />

</body>
</html>