    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>极速上线管理后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__ROOT__/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__ROOT__/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__ROOT__/static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__ROOT__/static/assets/css/admin.css">
    <link rel="stylesheet" href="__ROOT__/static/assets/css/page.css">
    <link rel="stylesheet" href="__ROOT__/static/assets/css/core.css" />
    <link rel="stylesheet" href="__ROOT__/static/assets/css/menu.css" />
    <link rel="stylesheet" href="__ROOT__/static/assets/css/component.css" />
    <link rel="stylesheet" href="__ROOT__/static/assets/css/page/form.css" />
     <link rel="stylesheet" href="__ROOT__/static/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__ROOT__/static/assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="__ROOT__/static/assets/css/font-awesome.min.css">
     <link rel="stylesheet" href="__ROOT__/static/assets/css/templatemo_style.css">
    <script src="__ROOT__/static/assets/js/jquery.min.js"></script>
    <script src="__ROOT__/static/assets/js/amazeui.min.js"></script>
    <script src="__ROOT__/static/assets/js/layer.js"></script>